<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .container {
        display: flex;
        align-items: center;
    }
    .container p {
        margin-right: 10px;
    }
</style>
<body>
<div class="container">
    <p th:text="${email}"></p>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>


<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Question</th>
        <th>Ablaufdatum</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${questions}">
        <td th:text="${question.getShortDescription()}"></td>
        <td th:text="${question.getLongDescription()}"></td>
        <td th:text="${question.getExpirationDate()}"></td>
        <td>
            <a th:href="@{/home/questionDetails(id=${question.getId()})}">Frage Beantworten</a>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>