<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .container {
        display: flex;
        align-items: center;
    }
    .container p {
        margin-right: 10px;
    }
</style>
<body>
<div class="container">
    <p th:text="${email}"></p>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>